[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdtree-tabs"]
	path = home/.vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/bundle/sensible"]
	path = home/.vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/commentary"]
	path = home/.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/phpclassexplorer"]
	path = home/.vim/bundle/phpclassexplorer
	url = https://github.com/nelsonsar/phpclassexplorer.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/tpope-dispatch"]
	path = home/.vim/bundle/tpope-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/.vim/bundle/tpope-fugitive"]
	path = home/.vim/bundle/tpope-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/wildfire"]
	path = home/.vim/bundle/wildfire
	url = git@github.com:gcmt/wildfire.vim.git
