[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdtree-tabs"]
	path = home/.vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/bundle/sensible"]
	path = home/.vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/commentary"]
	path = home/.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/phpclassexplorer"]
	path = home/.vim/bundle/phpclassexplorer
	url = https://github.com/nelsonsar/phpclassexplorer.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/tpope-dispatch"]
	path = home/.vim/bundle/tpope-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/.vim/bundle/tpope-fugitive"]
	path = home/.vim/bundle/tpope-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/wildfire"]
	path = home/.vim/bundle/wildfire
	url = git@github.com:gcmt/wildfire.vim.git
[submodule "home/.vim/bundle/tabline"]
	path = home/.vim/bundle/tabline
	url = git@github.com:mkitt/tabline.vim.git
[submodule "home/.vim/bundle/vim-twig"]
	path = home/.vim/bundle/vim-twig
	url = git@github.com:evidens/vim-twig.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-ansible-syntax"]
	path = home/.vim/bundle/vim-ansible-syntax
	url = git@github.com:chase/vim-ansible-yaml.git
[submodule "home/.vim/bundle/syntax-pig"]
	path = home/.vim/bundle/syntax-pig
	url = git@github.com:motus/pig.vim.git
[submodule "home/.vim/bundle/syntax-jinja2"]
	path = home/.vim/bundle/syntax-jinja2
	url = git@github.com:Glench/Vim-Jinja2-Syntax.git
[submodule "home/.vim/bundle/airline"]
	path = home/.vim/bundle/airline
	url = git@github.com:bling/vim-airline
[submodule "home/.vim/bundle/airline-tmuxline"]
	path = home/.vim/bundle/airline-tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "home/.vim/bundle/gitgutter"]
	path = home/.vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "home/.vim/bundle/gf-markdown"]
	path = home/.vim/bundle/gf-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
[submodule "home/.vim/bundle/syntax-bats"]
	path = home/.vim/bundle/syntax-bats
	url = https://github.com/vim-scripts/bats.vim
[submodule "home/.vim/bundle/vim-copy-as-rtf"]
	path = home/.vim/bundle/vim-copy-as-rtf
	url = git@github.com:zerowidth/vim-copy-as-rtf.git
[submodule "home/.vim/bundle/theme-papercolor"]
	path = home/.vim/bundle/theme-papercolor
	url = git@github.com:NLKNguyen/papercolor-theme.git
