[user]
    name = Augusto Pascutti
    email = augusto.hp@gmail.com
[core]
    editor = vim
    excludesFile = ~/.gitignore_global
    sshCommand = ssh-win-or-not
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = "#a6e3a1"
    local = "#89b4fa" bold
    remote = "#cba6f7"
[color "decorate"]
    head = "#f5e0dc"
    branch = bold "#f2cdcd"
    tag= "#89b4fa"
    remoteBranch = "#cba6f7"
    grafted = "#cdd6f4"
[color "diff"]
    meta = "#f5e0dc"
    meta = "#f5c2e7"
    func = "#89b4fa"
    frag = "#89b4fa"
    context = "#cdd6f4"
    old = "#f38ba8"
    new = "#a6e3a1"
[color "status"]
    header = "#6c7086"
    added = "#a6e3a1"
    changed = "#f9e2af"
    untracked = "#b4befe"
    branch = "#f5c2e7"
    # Because the phrase "Detached HEAD" isn't unnerving enough
    nobranch = bold ul "#f38ba8"
[alias]
    co = checkout
    s = status --short
    b = branch
    br = branch
    ls = log --pretty=format:\"%h %s (%an, %cr)\"
    l = log --pretty=format:\"%h | %s | %d | %an | %cr\"
    d = diff --color-words
    go = checkout
    forget = reset --hard HEAD
    undo = reset HEAD
    pop = reset --hard HEAD^
    new = checkout -b
    cleanup = "!f() { git branch --merged ${1-main} | grep -v \" ${1-main}$\" | xargs git branch -d; }; f"
    dc = diff --color-words --cached
    review = log --oneline origin/main..
    wip = ls-files -o -m --exclude-standard
    ctags = !.git/hooks/ctags
[push]
    default = current
[rebase]
    autosquash = true
[http]
    postBuffer = 65536000
[credential]
    helper = cache --timeout=86400
[commit]
    verbose = true
[includeIf "gitdir:**/src/**/kobold.com.br/"]
    path = ~/.gitconfig_kob
[includeIf "gitdir:**/src/crawly.com.br/"]
    path = ~/.gitconfig_crawly
[includeIf "gitdir:**/src/picpay.com/"]
    path = ~/.gitconfig_picpay
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
