[user]
    name = Augusto Pascutti
	email = augusto.hp@gmail.com
[core]
    editor = vim
	excludesfile = ~/.gitignore_global
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green
    local = blue bold
    remote = blue
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[alias]
    co = checkout
    s = status --short
    br = branch
    ls = log --pretty=format:\"%h %s (%an, %cr)\"
    l = log --pretty=format:\"%h | %s | %d | %an | %cr\"
    d = diff --color-words
    go = checkout
    forget = reset --hard HEAD
    undo = reset HEAD
    new = checkout -b
    cleanup = "!f() { git branch --merged ${1-master} | grep -v \" ${1-master}$\" | xargs git branch -d; }; f"
    review = diff --color-words --cached
    o-que-mudou = diff --color-words HEAD^
    wip = ls-files -o -m --exclude-standard
    ctags = !.git/hooks/ctags
[push]
    default = current
[rebase]
    autosquash = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[http]
	postBuffer = 65536000
[credential]
	helper = cache --timeout=86400
[commit]
	verbose = true

; Specific configuration for work-related repositories
[includeIf "gitdir:~/src/creditas.com.br/**"]
    path = ~/.gitconfig_creditas
